.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url('../../../images/icon-close.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  border: none;
}

@media (max-width: 920px) {
  .popup__close-button {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}